.header3
{
    background-color: rgb(138, 6, 120); 
    color: white; 
    padding: 30px; 
    text-align: center; 
    font-size: 35px;
    margin:0px;
}
.header4
{
    font-size: 26px;
    text-align: left; 
    margin: 10px;
}
.form
{
    margin-left: 10px;
}
.card
{
    background-color: greenyellow; 
    padding: 20px; 
    margin-top: 30px; 
    margin-left: 30px;
    text-align: left;
    width: 350px;
}
span
{
    color: red; 
    font-size: 60px;
}
.BtnBtnWarning
{
    width: 40%;
    margin-left: 80px; 
    text-align: center;
    background-color: rgb(247, 250, 58);
}
.BtnBtnPrimary
{
    color: white;
    background-color: #0077b6;
    width: 100%; 
    margin-top: 20px;
    border-radius: 5px;
}