<h3 class="header3">Angular with NodeJS</h3>
<div class="row">
  <div class="col-md-6">
    <h4 class="header4">Create User</h4>
    <form class="form">
      <div class="row">
        <div class="col-md-6">
          <label for="inputFname">First Name</label>
          <input type="text" class="form-control" id="inputFname">
        </div>
        <div class="col-md-6">
          <label for="inputLname">Last Name</label>
          <input type="text" class="form-control" id="inputLname">
        </div>
      </div>
      <button type="button" class="BtnBtnPrimary">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h3> <b> Users Created</b></h3>
      <span>0</span>
      <button type="button" class="BtnBtnWarning">Get All Users</button>
    </div>
  </div>

</div>