h2
{
    margin-top: 40px;
}
.edit
{
    margin-left: 20px;
}
.edit 
{
    display: block;
}
#gb
{
    margin-left: 450px;
}
#ei
{
    margin-left: 650px;
}
.det
{
    font-size: 35px;
    font-family:perpetua ;
    text-align: center;
    margin-bottom: 30px;
}
#btnget
{
    margin-top: 30px;
    margin-left: 800px;
}