p
{
    text-align: center;
}
h2
{
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #a06f1f;
}
h3
{
    
    margin-left: 400px;
    font-family: 'Courier New', Courier, monospace;
    color: #a06f1f;
    margin-top: 40px;
}
.form
{
    margin-left: 400px;
    padding: 20px;
    height: 420px;
    width: 400px;
    background-color: azure;
    border-radius: 10px;
    border:2px solid black;
}
.form input
{
    margin-left: 50px;
    width: 250px;
    margin-top: 22px;
    border-radius: 8px;
}
.reg
{
    width: 80px;
    margin-top: 30px;
    margin-left: 70px;
    color: white;
    background-color: #5b6d5b;
    border-radius:8px;
}
.can
{
    width: 80px;
    color: white;
    margin-left: 50px;
    border-radius:8px;
    background-color: #fb3640;
}
.grp input
{
    width: 50px;
}
/* #tb
{
    margin-top: 100px;
} */
input
{
    margin-top: 30px;
    margin-left: 270px;
    width: 900px;
}
.btn-success
{
    margin-top: 30px;
    margin-left: 5px;
}
/* table tr th
{
    padding: 10px;
    border: 1px solid black;
} */
.flex
{
    display: flex;
    flex-direction: row;
}
.table-bordered
{
    margin-top: 20px;
}