<!-- <div class="row">
    <div class="col-md-3">
        <button type="button" (click)]="viewCards()">View Card</button>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div> -->
<button type="button" class="btn btn-outline-dark" (click)="viewCards()">Click to see the apps</button>
<div class="row">

    <div class="card col-md-4" *ngFor="let data of localArray" id="shadowCard">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title">{{data.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Subtitle</h6>
                <p class="card-text">The {{data.title}} menus will appear
                    click the below button to open
                </p>
                <button class="navButton">{{data.title}}</button>
            </div>
        </div>
    </div>

</div>