p
{
    text-align: center;
}
h3
{
    font-size: 35px;
    margin-left: 135px;
    font-family: 'Courier New', Courier, monospace;
    color: #a06f1f;
    margin-top: 90px;
}
.form
{
    margin-left: 120px;
    height: 350px;
    width: 600px;
    background-color: #d7e4df;
    border-radius: 10px;
}
input
{
    margin-left:100px;
    width: 380px;
    border-radius: 8px;
    font-family: cursive;
}
label
{
    font-size: 18px;
    margin-top: 30px;
    margin-left:100px;
    font-family: cursive;
}
button
{
    width: 90px;
    font-family: cursive;
    margin-left: 130px;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
}
.sub
{
    background-color:#3d84b8 ;
}
.can
{
    background-color:#344450 ;
}
