*
{
    margin: 0%;
    padding: 0%;
}
header
{
    padding-top: 20px;
    padding-left: 40px;
    height: 80px;
    width: 1500px;
    background-image: url("https://images.indianexpress.com/2020/06/gift-pixa-759-1.jpg");
    color: rgb(223, 212, 192);
    font-family: cursive;
    
}

#div1 
{
    padding-top: 10px;
    height: 40px;
    width: 1500px;
    background-color: #fff8d9;
    font-size: 20px;
}

#div1 ul li
{
    display: inline;
    font-weight: 300;
    padding: 30px;
}
#div1 ul li a
{ 
    height: 400px;
    width: 600px;
    text-decoration: none;
}
a:hover
{
    background-color: rgb(193, 211, 157);
}
#left
{
    width: 180px;
    height: 500px;
    background-color: #fff8d9;
    overflow: hidden;
}
#left ul li
{
    margin: 30px;
    padding-top: 30px;
    
}
#left ul li a
{
    text-decoration: none;
}
#right
{
    margin: -400px;
    width: 1500px;
    height: -150px;
    float: right;
}
#right h1
{
    color: tomato;
    margin-left: 300px;
    text-align: left;
}
#right p
{
    padding-top: 25px;
    text-align: left;
}