p
{
    text-align: center;
}
h2
{
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #a06f1f;
}
h3
{
    font-size: 35px;
    margin-left: 75px;
    font-family: 'Courier New', Courier, monospace;
    color: #a06f1f;
    margin-top: 40px;
}
.form
{
    font-family: cursive;
    margin-left: 70px;
    padding: 20px;
    height: 910px;
    width: 700px;
    background-color: #d7e4df;
    border-radius: 10px;
    border:1px unset #0a1931;
}
label
{
    margin-top: 5px;
    font-size: 18px;
    margin-left: 45px;
}
.form input
{
    background-color: white;
    width: 550px;
    margin-left: 45px;
    border-radius: 8px;
}
.form select
{
    background-color: #fdfaf6;
    width: 550px;
    margin-left: 45px;
    border-radius: 8px;
}
.reg
{
    width: 80px;
    margin-top: 30px;
    margin-left: 70px;
    color: white;
    background-color: #5b6d5b;
    border-radius:8px;
}
.can
{
    width: 80px;
    color: white;
    margin-left: 50px;
    border-radius:8px;
    background-color: #fb3640;
}
.grp input
{
    width: 50px;
}
/* #tb
{
    margin-top: 100px;
} */
/* input
{
    margin-top: 30px;
    margin-left: 270px;
    width: 900px;
} */
/* .btn-success
{
    margin-top: 30px;
    margin-left: 5px;
} */
/* table tr th
{
    padding: 10px;
    border: 1px solid black;
} */
/* .flex
{
    display: flex;
    flex-direction: row;
} */
/* .table-bordered
{
    margin-top: 20px;
} */
button
{
    margin-left: 300px;
}
.form input:hover
{
    background-color: whitesmoke;
}
.errt
{
    margin-left: 50px;
}