#head
{
    font-size:60px;
    color: #4848c9;
    font-family: Georgia;
    padding: 10px;
    margin-left: 25px;
}
#form
{
    background-color: rgb(240, 235, 228);
    width: 450px;
    align-content: center;
    margin-left: 100px;
    height: 400px;
    padding: 30px;
}
#form input{
    padding: 20px;
    width: 330px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: -10px;
    border-radius: 10px;
}
label
{
    padding-bottom: 10px;
    text-align: right;
    width: 300px;
    
}
button{
    padding: 15px;
    width: 200px;
    margin-top: 20px;
    color: white;
    background-color:#4848c9 ;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 20px;
}
#subl
{
    color: white;
    margin-left: 60px;
    margin-top: 10px;
    width: 250px;
}
#new
{
    color: white;
    background-color:#2dac35 ;
    margin-left: 60px;
    margin-top: 10px;
    width: 250px;
}
.para a
{
    
   margin-left: 100px;
}
#Gen
{
    padding: 10px;
}
#form2
{
    background-color: rgb(240, 235, 228);
    width: 450px;
    align-content: center;
    margin-left: 100px;
    height: 600px;
    padding: 30px;
}
#form2 input
{
    border-radius: 5px;
}
#sgnup
{
    padding: -10px;
}
#fn
{
    margin-bottom: 10px;
}
#more
{
    width: 360px;
    padding: 10px;
    margin-bottom: 10px;
}
.Gen1
{
 text-align: left;
}
#subr
{
    color: white;
    background-color:#2dac35 ;
    margin-left: 80px;
}
#pass
{
    width: 360px;
    padding: 10px;
    margin-bottom: 10px;
}
#dob
{
    width: 360px;
    padding: 10px;
    margin-bottom: 10px;
}