<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Register here...</h3>
        <form class="form">
            <input type="text" placeholder="First Name"><br>
            <input type="text" placeholder="Last Name"><br>
            <input type="text" placeholder="Mail or Phone"><br>
            <input type="password" placeholder="New Password"><br>
            <button type="button" class="reg">Register</button>
            <button type="button" class="can">Cancel</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>