<div class="row">
    <div class="3"></div>
    <div class="6">
        <div class="shadow-lg p-3 mb-5 bg-white rounded" id="form">
            <form>
                <div class="form-group">
                    <input class="form-control" type="email" id="email" name="mail" placeholder="Enter your mail">
                    <small class="form-text text-muted">*Enter valid mail-id</small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="pass" name="pass" placeholder="Password">
                    <small class="form-text text-muted">*Enter valid Password</small>
                </div>
                <div class="form-group">
                    <button type="button" id="log">Login</button>
                    <button type="button" id="can">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="3"></div>
</div>