<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <h3>Login here...</h3>
        <form class="form" #logForm="ngForm" (ngSubmit)="login(logForm.value)">
            <label for="eop">E-mail</label>
            <input type="text" class="form-control" id="eop" placeholder="Enter your E-mail" name="email"
                [(ngModel)]="emaill" required><br>
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" placeholder="Password" name="pass" [(ngModel)]="passw"
                required><br>
            <button class="sub">Submit</button>
            <button class="can">Cancel</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-danger" (click)="getImageFromService()">Get Image</button>
        <img [src]="imageToShow" alt="Place image title" *ngIf="!isImageLoading; else noImageFound">
        <ng-template #noImageFound>
            <img src="fallbackImage.png" alt="Fallbackimage">
        </ng-template>
    </div>

</div>